/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
* Custom
*/

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 20px; /* Adjust this to control spacing between videos */
}

.videoModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

.videoWrapper {
  position: relative;
  width: 80vw; /* Adjust to your preferred size */
  height: 80vh; /* Adjust to your preferred size */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.videoThumbnail {
  pointer-events: none;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Add this line */
}

.playButton {
  background: none;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
  pointer-events: auto; /* Add this line */
}
